@charset "UTF-8";
/* CSS Document */

body{
	background-color: #FFFFFF;
	vertical-align: middle;
	width: auto;
	height: auto;
	border: thick groove #09F;
	padding: 5px;
}
h1{
	color: #009;
	margin-top: 0px;
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 30px;
}
h2{
	color: #009;
	text-align: center;
	margin: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
fieldset{
	padding: 5px;
	width: auto;
	background-color: #D6D5D6;
	border-color: #09F;
	border-width: medium;
}
legend{
	text-align: center;
}
input{
	float: right;
	clear: both;
}
select{
	float: right;
	clear: both;
}
label{			
}
ul{
	margin-top: 0px;
	border: thin solid #000;
	padding-bottom: 2px;
	background-color: #EEE;
	list-style-type: decimal;
}
.import{
	list-style-type: square;
}
.centered{
	text-align: center;
}
#edit{
	padding-right: 5px;
	margin-left: -30px;
}
.subItem{
	margin-left: -30px;
}
.listItem{
	margin: 5px;
	border: solid thin #09F;
	list-style-type: none;
}